@model IEnumerable<TecReview.Models.Item>
@{
    ViewData["Title"] = "Home";
}
<!--Logo-->
<img src="~/images/TecReviewLogo1.jpg" style="width:500px;height:105px;" class="center" />
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between border rounded">
            @foreach (var c in (Dictionary<Category, List<Item>>)ViewData["Categories"])
            {
                <a asp-controller="Categories" asp-action="Details" asp-route-id="@c.Key.CategoryId" class="nav-link" style="">@c.Key.Name</a>
            }
        </nav>
    </div>

    <div class="row mb-2">
        <div class="col-md-10">
            <div class="row">
                @foreach (Item item in (List<Item>)ViewData["MainItems"])
                {
                    <div class="col-md-4">
                        <partial name="_ItemVertical" model="item" />
                    </div>
                }
            </div>
        </div>


        <div class="col-md-2">
            <h3 class="pb-3 mb-4 border-bottom">Recent</h3>
            @foreach (Item ar in ((List<Item>)ViewData["Recent"]))
            {
                <div class="card">
                    <a asp-controller="Items" asp-action="Details" asp-route-id="@ar.ItemId">
                        <img src="@ar.HomeImageUrl" class="img-fluid img-thumbnail" data-toggle="tooltip" data-placement="right" data-html="true" />
                        <h4>@ar.Header</h4>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
