@model IEnumerable<TecReview.Models.Item>
@{
    ViewData["Title"] = "Index";
    ViewData["Tab"] = "Home";
}

<br/>

<div id="home-page">
    <br/>
    @{
        var mainItem = (Item)ViewData["MainItem"];
        if (mainItem != null)
        {
            <!--Main featured item-->
            <div class="card flex-md-row mb-4 box-shadow h-md-250 text-light bg-dark shadow">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">
                        <partial name="_CategoryBadge" model="@((Category)ViewData["MainItemCategory"])" />
                    </strong>
                    <h3 class="mb-0">
                        <a asp-controller="Items" asp-action="Details" asp-route-id="@mainItem.ItemId" class="text-success">@mainItem.Header</a>
                    </h3>
                    <div class="mb-1 text-muted">@mainItem.DateCreated</div>
                    <section class="main-item-content">
                        <p class="card-text mb-auto" style="column-span: all"><strong>@mainItem.Summery</strong></p>
                        <p class="card-text mb-auto">@(mainItem.Content.Substring(0, 275) + "...")</p>
                    </section>
                    <br />
                    <a class="btn btn-sm btn-outline-secondary" asp-controller="Items" asp-action="Details" asp-route-id="@mainItem.ItemId">Read more</a>
                </div>
                <a asp-controller="Items" asp-action="Details" asp-route-id="@mainItem.ItemId">
                    <img class="card-img-right flex-auto d-none d-md-block" style="width: 550px; height: auto;" src="@mainItem.HomeImageUrl" data-holder-rendered="true" />
                </a>
            </div>
        }
    }

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between border rounded">
            @foreach (var c in (Dictionary<Category, List<Item>>)ViewData["Categories"])
            {
                <a asp-controller="Categories" asp-action="Details" asp-route-id="@c.Key.CategoryId" class="nav-link" style="">@c.Key.Name</a>
            }
        </nav>
    </div>

    <h3 class="pb-3 mb-4 font-italic border-bottom">Featured <small>The MUST READ items</small></h3>
    <div class="row mb-2">
        <div class="col-md-10">
            @foreach (var item in ((List<Item>)ViewData["Featured"]))
            {
                <div class="col-md-12">
                    <partial name="_ItemHorizontal" model="@item" />
                </div>
            }
        </div>

        <div class="col-md-2">
            <h3 class="pb-3 mb-4 font-italic border-bottom">Recent</h3>
            @foreach (Item ar in ((List<Item>)ViewData["Recent"]))
            {
                <div class="card">
                    <a asp-controller="Items" asp-action="Details" asp-route-id="@ar.ItemId">
                        <img src="@ar.HomeImageUrl" class="img-fluid img-thumbnail" data-toggle="tooltip" data-placement="right" data-html="true" title="<h4>@ar.Header</h4><p>@ar.Summery</p>" />
                    </a>
                </div>
            }

            <div class="card">
                <strong class="d-inline-block mb-2 text-primary">The weather today</strong>
                <a href="https://www.accuweather.com/en/il/tel-aviv/215854/weather-forecast/215854" class="aw-widget-legal"></a>
                <div id="awcc1540992229894" class="aw-widget-current" data-locationkey="" data-unit="c" data-language="en-us" data-useip="true" data-uid="awcc1540992229894"></div>
                <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
            </div>
        </div>
    </div>

    @foreach (var c in (Dictionary<Category, List<Item>>)ViewData["Categories"])
    {
        var category = c.Key;

        <br />
        <h3 class="pb-3 mb-4 font-italic border-bottom">
            <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.CategoryId" style="color: @category.HexColor !important;">
                @category.Name <small class="text-dark">@category.Description</small>
            </a>
        </h3>

        <div class="row">
            @foreach (Item item in c.Value)
            {
                <div class="col-md-3">
                    <partial name="_ItemVertical" model="item" />
                </div>
            }
        </div>
    }
</div>
