@model TecReview.Models.Item

<div class="card flex-md-row mb-4 box-shadow h-md-250 text-light bg-dark shadow">
    <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">
            <partial name="_CategoryBadge" model="@Model.Category" />
        </strong>
        <h3 class="mb-0">
            <a asp-controller="Items" asp-action="Details" asp-route-id="@Model.ItemId" class="text-success">@Model.Header</a>
        </h3>
        <div class="mb-1 text-muted">@Model.DateCreated</div>
        <section class="main-item-content">
            <p class="card-text mb-auto" style="column-span: all"><strong>@Model.Summery</strong></p>
            <p class="card-text mb-auto">@(Model.Content.Substring(0, 275) + "...")</p>
        </section>
        <br />
        <a class="btn btn-sm btn-outline-secondary" asp-controller="Items" asp-action="Details" asp-route-id="@Model.ItemId">Read more</a>
    </div>
    <a asp-controller="Items" asp-action="Details" asp-route-id="@Model.ItemId">
        <img class="card-img-right flex-auto d-none d-md-block" style="width: 550px; height: auto;" src="@Model.HomeImageUrl" data-holder-rendered="true" />
    </a>
</div>